
PIPELINE_ENV=dev
PARTITION_DATE=2026-03-10

AWS_REGION=us-east-1
AWS_ACCOUNT_ID=
ECR_REPO=ecommerce-pipeline

S3_RAW_BUCKET=ecommerce-pipeline-raw-dev
S3_WAREHOUSE_BUCKET=ecommerce-pipeline-warehouse-dev
S3_LOGS_BUCKET=ecommerce-pipeline-logs-dev

ALERT_FROM_EMAIL=pipeline-alerts@example.com
ALERT_TO_EMAIL=data-team@example.com
SMTP_HOST=smtp.gmail.com
SMTP_USERNAME=
SMTP_PASSWORD=
SLACK_WEBHOOK_URL=
